@model MvcContractorShareApplication.Models.CancelJobModel

@{
    ViewBag.Title = "CancelJob";
}

    @Html.Partial("_NavBar")

@section featured {

<div class="jumbotron jumbotron-special-short">
        <div class="container" >
            <h2  id="testolga" style="font-family:Calibri; font-size:24px; font-weight:bold">Cancel Job</h2>
    </div>
    }
    <br />

   

    <div class="container">

    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              
        <br />
          <ul class="list-group">
            <li class="list-group-item text-right"><span class="pull-left"><strong>Status</strong></span> @Html.DisplayFor(model => model.StatusName)</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Category</strong></span> @Html.DisplayFor(model => model.CategoryName)</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Posted</strong></span>@Html.DisplayFor(model => model.Posted)</li>

            <li class="list-group-item text-right"><span class="pull-left"><strong>Location</strong></span> 
                @Html.DisplayFor(model => model.Address) <br />
                @Html.DisplayFor(model => model.PostalCode) <br />
                @Html.DisplayFor(model => model.City) <br />
                @Html.DisplayFor(model => model.Country)
            </li>
          </ul> 

        </div><!--/col-3-->
    	<div class="col-sm-9">
          
          
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                <div class="row">
                     <div class="col-sm-10"><h4>@Html.DisplayFor(model => model.JobName)</h4></div>
                     <div class="col-sm-10"><h5><b>Are you sure you want to cancel this job?</b></h5>
                         <br />
                         Cancelling this job means that you will not get new proposals.
                         <br />
                         The status of the job will be changed to Cancelled.
                         <br />
                         <br />
                        @using (Html.BeginForm()) {
                        @Html.AntiForgeryToken()
                              <!--  Hidden field -->
                             @Html.HiddenFor(m => m.JobId, new { @class = "form-control" })
                        <p>
                            <div class="row">
                                    <div class="col-xs-6 col-md-3">
                                        <input type="submit" value="Yes, Cancel this job" class="btn btn-primary btn-block btn-default" tabindex="7">
                                    </div>
                             </div>
                        </p>
                        }
                </div>

                  	<ul class="pagination" id="myPager"></ul>
              </div><!--/table-resp-->
              
              <hr>
              
             
             
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->