@model MvcContractorShareApplication.Models.Rate

@{
    ViewBag.Title = "AddRate";
}
@Html.Partial("_NavBar")


@section featured {

<div class="jumbotron jumbotron-special-short">
        <div class="container" >
            <h2  id="testolga" style="font-family:Calibri; font-size:24px; font-weight:bold">Rate your job</h2>
    </div>
    }

<div class="container">

@using (Html.BeginForm())
{
                @Html.AntiForgeryToken()
                
    //Show Validation Summary if there's any error
    if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
    { 
                   <div  class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      @Html.ValidationSummary(true)
                   </div>
    }
    
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		                <form role="form">
                            <fieldset>

                                <div class="form-group">
                                    
                                   <!--  Hidden fields -->
                                    @Html.HiddenFor(m => m.JobId, new { @class = "form-control" })
                                    @Html.HiddenFor(m => m.FromUserId, new { @class = "form-control" })
                                    @Html.HiddenFor(m => m.ToUserId, new { @class = "form-control" })
                                    <!-- End Hidden fields -->

                                    <h2>How was @Html.DisplayFor(model => model.ToUserName) ?</h2>

                                    <label>Rate</label>
                                    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"/>
                                    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                                    <div class="rating-select">
                                        <div class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star-empty"></span></div>
                                        <div class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star-empty"></span></div>
                                        <div class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star-empty"></span></div>
                                        <div class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star-empty"></span></div>
                                        <div class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star-empty"></span></div>
                                    </div>

                                    <br>

                                    <label>Comment</label>
                                    @Html.TextAreaFor(m => m.Comment, new { @class = "form-control", id = "description" })
                                    @Html.ValidationMessageFor(model => model.Comment)
                                    <br />

                                </div>

                                <hr class="colorgraph">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <input type="submit" value="Rate" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                                </div>
                            </fieldset>
		                </form>
	                </div>
                </div>
}
    </div>


<script>

    $(function () {
        $('.rating-select .btn').on('mouseover', function () {
            $(this).removeClass('btn-default').addClass('btn-warning');
            $(this).prevAll().removeClass('btn-default').addClass('btn-warning');
            $(this).nextAll().removeClass('btn-warning').addClass('btn-default');
        });

        $('.rating-select').on('mouseleave', function () {
            active = $(this).parent().find('.selected');
            if (active.length) {
                active.removeClass('btn-default').addClass('btn-warning');
                active.prevAll().removeClass('btn-default').addClass('btn-warning');
                active.nextAll().removeClass('btn-warning').addClass('btn-default');
            } else {
                $(this).find('.btn').removeClass('btn-warning').addClass('btn-default');
            }
        });

        $('.rating-select .btn').click(function () {
            if ($(this).hasClass('selected')) {
                $('.rating-select .selected').removeClass('selected');
            } else {
                $('.rating-select .selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    });

    </script>